flask==2.3.2
torch==2.0.0+cu118 --extra-index-url https://download.pytorch.org/whl/cu118
torchvision==0.15.1+cu118 --extra-index-url https://download.pytorch.org/whl/cu118
opencv-python-headless==4.7.0.72
pandas==2.0.3
requests==2.31.0
Pillow==9.5.0
ultralytics==8.0.196
numpy==1.24.3